<!DOCTYPE html>
<html>
<head>
	<title>Confirm Deposit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://user-images.githubusercontent.com/52379890/133371696-2488b42d-62fa-4210-b49f-9ebfea97fcd0.png">
	 <link rel="icon" href="https://user-images.githubusercontent.com/52379890/133371696-2488b42d-62fa-4210-b49f-9ebfea97fcd0.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body class="d-flex h-100 text-center text-white bg-dark" data-new-gr-c-s-check-loaded="14.1029.0" data-gr-ext-installed="">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0"></h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/console">Console</a>
            <a class="nav-link" href="/signout">Sign Out</a>
          </nav>
        </div>
      </header>
    
      <main class="px-3" style="margin-top: 180px;">
        <h3> In the next page, you'll be redirected to the payment mechant from where you could make the transaction</h3>
       <br>
       <br>
       <p>
        <form action='https://secure.payu.in/_payment' method='post'>
            <input type="hidden" name="key" value=<%=key%> >
            <input type="hidden" name="txnid" value=<%=txnid%> >
            <input type="hidden" name="productinfo" value="deposit" >
            <input type="hidden" name="amount" value=<%=amount%>>
            <input type="hidden" name="email" value=<%=email%>>
            <input type="hidden" name="firstname" value=<%=fname%> >
            <input type="hidden" name="lastname" value=<%=lname%> >
            <input type="hidden" name="surl" value="https://epotli-wallet.herokuapp.com/deposit-success" >
            <input type="hidden" name="furl" value="https://epotli-wallet.herokuapp.com/deposit-failure" >
            <input type="hidden" name="phone" value=<%=phone%> >
            <input type="hidden" name="hash" value=<%=hash%> >
          <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white private-inp" style="color: rgb(83, 80, 80);" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm</button>
        </form>
        </p>
      </main>
   
    </div>
   
    
      
    
    </body>

                        
             
               
                   
                    

                   
                 



</body> 
</html>











